.header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    animation: appear 2s;
}

.header__today {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
    animation: fast-appear 1s;
}

.header__next-lesson {
    font-size: 1.15rem;
    animation: slow-appear 1s;
}

.header__next-lesson span {
    color: rgb(240, 9, 9);
}

.green-text span {
    color: rgb(17, 240, 9);
}

