.header {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.header__today {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 10px;
    animation: fast-apear 1s;
}

.header__next-lesson {
    font-size: 1.15rem;
    animation: slow-apear 1s;
}

.header__next-lesson span {
    color: rgb(240, 9, 9);
}

@keyframes fast-apear {
    from {
        transform: translateY(-10px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slow-apear {
    from {
        transform: translateY(-70px);
    }

    to {
        transform: translateY(0);
    }
}