@import url(schedule.css);
@import url(footer.css);
@import url(header.css);
@import url(animations.css);

@font-face {
    font-family: "MTSans";
    src: url("../fonts/MTSansFull/MTSans-RegularCondensed.ttf") format("truetype");
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    padding: 12px;
    font-family: "MTSans", sans-serif;
}


.error {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.error div {
    background-color: #fff;
    border-radius: 100px;
    width: fit-content;
    margin: 10px auto;
    padding: 2px 7px;
    color: #000;
    font-size: 22px;
}

.button {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #000;
    padding: 6px 12px;
    border-radius: 100px;
    margin-bottom: 15px;
    box-shadow: 0 0 2px 1px #fff;
}

.error-load {
    text-align: center;
    margin-bottom: 13px;
    color: red;
}

.loader-screen {
    height: calc(100vh - 24px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.loading-btn {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 30px;
    overflow: hidden;
    border-radius: 100px;
    margin-bottom: 15px;
}

.loading-btn::before {
    position: absolute;
    content: '';
    top: -150%;
    width: 100%;
    height: 150%;
    background-color: #fff;
    border-radius: 100px;
    filter: blur(10px);
    box-shadow: 0 0 12px 3px #fff, 0 0 15px 3px #ffffffd0;
    z-index: 1;
    transform-origin: top center;
    animation: current-day-card 2s linear infinite;
}

.loading-btn::after {
    position: absolute;
    content: '';
    inset: 3px;
    z-index: 2;
    background-color: #000;
    border-radius: 100px;
}