.slides {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.card {
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    box-shadow: 0 0 12px 3px #91218b;
}

.card__head {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-bottom: 7px;
    text-shadow: 0 0 3px #fff;
}

.card__lesson {
    display: flex;
    width: 100%;
    margin-bottom: 12px;
}

.card__body-end {
    margin-right: 8px;
}

.card__body-begin,
.card__body-end {
    white-space: nowrap;
}

.card__body-class {
    display: flex;
    gap: 6px;
}

.card__body {
    font-size: 1.2rem;
}

.separator {
    margin: 0 auto;
    border-radius: 100px;
    width: 67%;
    height: 1px;
    box-shadow: inset 0 0 2px 3px #a031af;
    margin-bottom: 10px;
}