.schedule-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
    margin-bottom: 25px;
}

.schedule {
    width: 100%;
    border-radius: 20px;
    padding: 12px;
    background-color: #181717;
}

.day-end * {
    opacity: 0.65;
}

.current-day-card,
.another-day-card {
    position: relative;
}

.current-day-card::before {
    position: absolute;
    content: '';
    left: 12px;
    top: 12px;
    border-radius: 0;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    z-index: -1;
    animation: violet-pulse 2s infinite ease-in-out alternate;
}

.another-day-card::before {
    position: absolute;
    content: '';
    left: 12px;
    top: 12px;
    border-radius: 0;
    width: calc(100% - 24px);
    height: calc(100% - 24px);
    z-index: -11;
    animation: gray-pulse 3s infinite ease-in-out alternate;
}

.schedule__title {
    display: flex;
    white-space: nowrap;
    align-items: end;
    font-size: 1.2rem;
    justify-content: space-between;
    margin-bottom: 12px;
    text-shadow: 0 0 1px #fff, 0 0 2px #ffffffc5;
}

.schedule .schedule__title {
    animation: appear-from-right 0.7s;
}

.schedule .schedule__body {
    animation: appear-from-left 0.7s;
}

.schedule__title-remaining {
    font-size: 1rem;
}

.time-green span {
    color: rgb(17, 207, 58);
    margin-left: 5px;
    text-shadow: none;
}

.time-red span {
    color: rgb(255, 72, 0);
    margin-left: 5px;
    text-shadow: none;
}

.separator {
    margin: 0 auto;
    border-radius: 100px;
    width: 67%;
    height: 1px;
    box-shadow: inset 0 0 2px 3px #757275;
    margin-bottom: 12px;
    position: relative;
}

.current-day-separator::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: wave 3s infinite ease-in-out alternate;
    background-color: #91218b;
    border-radius: 100px;
}

.schedule__body {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.lesson__item {
    display: flex;
    width: 100%;
    border-radius: 100px;
    padding: 4px 9px;
    width: fit-content;
    font-size: 1.15rem;
}

.lesson-end {
    opacity: 0.3;
}

.lesson-process {
    position: relative;
    overflow: hidden;
    animation: lesson-process 2s infinite ease-in-out alternate;
}

.lesson-wait {
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}

.lesson-wait::before {
    content: '';
    position: absolute;
    left: -50%;
    top: 8px;
    width: 200%;
    height: 25px;
    animation: lesson-wait 3s ease-in-out infinite alternate;
    background: #d49536;
    box-shadow: 0 0 12px 3px #d49536, 0 0 30px 5px #d49536af;
    z-index: 1;
}

.lesson-wait::after {
    content: '';
    position: absolute;
    inset: 1px;
    background: #181717;
    border-radius: 100px;
    z-index: 2;
}


.lesson-wait * {
    position: relative;
    z-index: 3;
}

.schedule__body-start,
.schedule__body-end {
    white-space: nowrap;
    justify-self: left;
    color: #beafaf;
    text-shadow: none;
}

.schedule__body-end {
    margin-right: 8px;
}

.schedule__body-classroom {
    display: flex;
    gap: 6px;
    align-self: flex-end;
}